@model News.Models.Article

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="VIP">
    <h2 id="VIP1">Edit</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 id="VIP1">Articles</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ArticleID)

            <div class="form-group" id="VIP2">
                @Html.LabelFor(model => model.JournalistID, "JournalistID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("JournalistID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.JournalistID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="VIP2">
                @Html.LabelFor(model => model.Tile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tile, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tile, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="VIP2">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @id = "dob" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger", @id = "dob" })
                </div>
            </div>

            <div class="form-group" id="VIP2">
                @Html.LabelFor(model => model.Topic, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Topic, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Topic, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="VIP2">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
